
*{
    transition: transform 2s ease;
}
.coin{
    width:100px;
    height:100px;
    display: inline-block;
    transform-style: preserve-3d;
}
.side1 , .side2{
    width:100px;
    height:100px;
    border-radius:50%;
}
.side1{
    background-color:gold;
    transform:translateZ(5px);
}
.side2{
    position:absolute;
    top:0px;
    background-color:gold;
    transform:translateZ(-5px);
}
.rect{
    position:absolute;
    top:45px;
    width:100px;
    height:10px;
    background-color: black;
    /* background-color: rgb(255, 205, 0); */
}
.coin:hover{
    /* animation:spin 2s ease; */
    transform:
    rotateZ(360deg)
    rotateY(360deg);
    /* rotateX(360deg); */
    /* rotateZ(90deg); */
}

@keyframes spin {
    from{
        transform: rotateY(30deg)
        rotateZ(0deg);
    }
    to{
        transform: rotateY(30deg)
        rotateZ(360deg);
    }
}